$color_backgrounditems: #DF854A;

$color_background: white;

// Text header 

$color-header: #fff;
$color-text-black-a :rgba(27, 27, 27, 1);

$color-text-h1: rgba(255, 255, 255, 1);
$color-text-product: rgba(27, 27, 27, 1);
$color-btn-product:#BFFFBF;

// Back-Ground
$color-cofee: #7C6354;

$color-coffe-child: #D5CEA3;
$bgr-review:  rgba(255, 173, 122, 0.29);




// Text
$color--text-white: #fff;
$color--text-black: #0000;
$color-bgr-blu: #5781FF;